/* Define a altura e a cor de fundo do footer */
.footer-container {
    font-family: Arial, Helvetica, sans-serif;
    /* altura do footer */
    background-color: rgb(165, 105, 36);

    width: 100%;
    bottom: 0;
    position: fixed;
}



/* Define o estilo do texto no footer */
.footer-content p {
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

