.container-main {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  
}

img {
  margin-top: 20px;
  width: 300px;
}

p {
  margin-top: 5px;
}

@media screen and (max-width: 575px) {
  .container-main {
    margin: 20px auto;
  }

  img {
    width: 100%;
  }
}