.container {
    margin-left: 60px;
    display: flex;
  flex-direction: column;
  justify-content: center;
    
  }
  
 h3{
    padding-top: 20px;
}

img{
    margin-top: 20px;
width: 300px;

}

.sobre{
    margin-top: 10px;
    margin-left: 50px;
}